/* Slider */
.swiper {
  margin: 0;
}

.swiper-slide {
  /* min-height: 180px !important; */
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  border-radius: 100%;
  min-height: 295px;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.swiper-slide .inner-slide {
  /* width: 100% !important; */
  position: absolute;
  width: 110%;
  height: 0;
  padding-bottom: 110%;
  border: 1px solid rgb(163, 163, 163);
  border-radius: 100%;
}
.swiper-slide img {
  width: 150px;
  height: fit-content;
}
.swiper-wrapper{
  transition-timing-function : linear;
}



@media (max-width: 920px) {
  .swiper-slide{
    min-height: 320px;
  }
}

@media (max-width: 768px) {
  .swiper-slide img {
    width: 72%;
    object-fit: contain;
  }
  .swiper-slide{
    min-height: 310px;
  }
}
@media (max-width: 640px) {
  .swiper-slide{
    min-height: 330px;
  }
}

@media (max-width: 520px) {
  .swiper-slide{
    min-height: 300px;
  }
}



.row {
  overflow: hidden;
}

/* JsFiddle Example only/don't use */
/* .logo-carousel {
  margin-top: 32px;
} */
