.neonText {
  color: #fff;
  text-shadow:
      /* White glow */ 0 0 7px #f1f1f1, 0 0 50px #f6fad2;
}
a,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

.active_link {
  color: #ffffff;
  border-color: #fdc600;
}
.active_link:hover {
  border-color: #bbbdcb;
}

.inactive_link {
  color: #bbbdcb;
  border-color: transparent;
}
.inactive_link:hover {
  border-color: #bbbdcb;
}

@media screen and (max-width: 768px) {
  .nav_link {
    border-bottom: 1.5px solid transparent;
  }
  .nav_link:hover {
    border-bottom: 1.5px solid #fdc600;
    color: #fdc600;
    padding-bottom: 4px;
  }
}
@font-face {
  font-family: "Helvetica-Neue-Condensed-Bold";
  src: url("./fonts/HelveticaNeueCondensedBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

.fade-in-image {
  opacity: 1;
  /* display: block; */
  transition: opacity 1s ease-in-out;
}

.fade-out-image {
  opacity: 0;
  /* display: none; */
  transition: opacity 1s ease-in-out;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  /* font-family: Helvetica Neue, Helvetica, Arial, sans-serif; */
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  background: #000;
  color: #000;
}

/* 
h2{
  font-family: "Helvetica-Neue-Condensed-Bold";
  font-weight: 900;
} */
button:hover {
  outline: none !important;
}
button:visited {
  outline: none !important;
}
.unactive-service-button {
  background-color: black !important;
  color: #bbbdcb !important;
  outline: none !important;
}
.active-service-button {
  background-color: white !important;
  color: black !important;
  outline: none !important;
}
.unactive-service-button:hover {
  background-color: white !important;
  color: black !important;
  outline: none !important;
}
/* #home [aria-current]:is([aria-current="true"]) {
  background-color: white !important;
  color: black !important;
} */

.swiper {
  width: 100%;
  height: 100%;
}

#influencers .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  margin-right: 6px !important;
  margin-left: 6px !important;
  /* background: hsla(0,0%,100%,.5); */
}
#influencers .swiper-pagination-bullet-active {
  background-color: white;
}
@media screen and (max-width: 768px) {
  #influencers .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }
}